.sider_container{
    display: flex;
    height: 80px;
    background-color: black;
    align-items: center;
    text-align: center;
}
.logo{
    width: 300px;
    font-size: 30px;
    color: white;
    padding-left: 30px;
}
.buttons_siderbar{
    display: flex;
    height: 100%;
}
.button_sider{
    padding-left: 25px;
    padding-right: 25px;
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 200px;
    transition: 0.3s;
    cursor: pointer;
}
.button_sider:hover{
    background-color: rgb(255, 254, 254);
    color: rgb(2, 2, 2);
    border: none;
}
.signin_signout{
    position: absolute;
    right: 30px;
}
.button_sign{   
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-weight: 200px;
    border:2px solid rgb(231, 44, 44);
    background-color: black;
    color:rgb(231, 44, 44);
    border-radius: 10px;
    transition: 0.3s;
    margin: 0 10px;
    cursor: pointer;
}
.button_sign:hover{
    background-color: rgb(231, 44, 44);
    color:rgb(248, 219, 219);
}