.show-item{
 display: flex;
 flex-direction: column;
 font-weight: 900;
 font-family: 'Times New Roman', Times, serif;
 line-height: 15px;

}
.best_seller_part{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.item_best_seller{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 4rem;
    margin-top: 100px;
    justify-content: space-between;
}